<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
        <add key="ConnectionString" value="https://botchallenge.cloud.epam.com/codenjoy-contest/board/player/y2xvmwbn1tkpur93x38n?code=1938052386392496631" />
        <add key="ConnectionStringLocal" value="http://127.0.0.1:8080/codenjoy-contest/board/player/y2xvmwbn1tkpur93x39n?code=1938052386392396631" />

        <add key="IsLocal" value="true" />
        <add key="IsFile" value="false" />
        <add key="PrintBoard" value="false" />

        <add key="AfkBreakpoint" value="5" />
        <add key="BombPlaceTimeout" value="1" />
        <add key="BombsDefaultCount" value="1" />
        <add key="BombsDefaultPower" value="3" />
        <add key="BonusBlastIncrease" value="2" />
        <add key="BonusBlastTimeout" value="15" />
        <add key="BonusBlastDisableTimeout" value="5" />
        <add key="BonusCountIncrease" value="13" />
        <add key="BonusCountTimeout" value="11" />
        <add key="BonusImmuneTimeout" value="9" />
        <add key="BonusRCCount" value="5" />
        <add key="DangerBreakpoint" value="10" />
        <add key="DangerRatingLow" value="1" />
        <add key="DangerRatingMiddle" value="2" />
        <add key="DangerRatingHigh" value="4" />
        <add key="DangerRatingCritical" value="10" />
        <add key="SuicideBreakpoint" value="5000" />
        <add key="EnemiesDetectionBreakpoint" value="2" />
        <add key="ForceSuicideBonus" value="3000" />
        <add key="ManualSuicide" value="false" />
        <add key="NearNestLevel" value="3" />
        
        
    </appSettings>
</configuration>
